@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
}

.content {
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 3px rgba(46, 43, 233, 0.1);
}

.result {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(0deg, rgb(46, 43, 233) 0%, hsl(252, 100%, 67%) 100%);
}

.result h1 {
    color: hsl(241, 100%, 89%);
    font-size: 24px;
    font-weight: 500;
}

.result .circle {
    width: 180px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 50%;
    background: linear-gradient(0deg, hsla(241, 72%, 46%, 0) 0%, hsla(256, 72%, 46%, 1) 100%);;
}

.result .circle h2 {
    color: white;
    font-size: 64px;
    font-weight: 800;
}

.result .circle p {
    font-size: 18px;
    font-weight: 500;
    color: rgba(200, 199, 255, 0.4);
}

.result h3 {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.result .score {
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    color: hsl(241, 100%, 89%);
}

.summary {
    width: 100%;
    height: 100%;
    padding: 30px;
    font-size: 24px;
}

.summary .note {
    margin: 20px 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}

.rouge {
    background-color: rgba(255, 87, 87, 0.05);
    color: rgb(255, 87, 87);
}

.jaune {
    background-color: rgba(255, 176, 31, 0.05);
    color: rgb(255, 176, 31);
}

.vert {
    background-color: rgba(0, 189, 145, 0.05);
    color: rgb(0, 189, 145);
}

.bleu {
    background-color: rgba(17, 37, 212, 0.05);
    color: rgb(17, 37, 212);
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

span {
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}

.value {
    font-weight: 800;
    color: black;
}

.summary button {
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    padding: 15px;
    color: white;
    background-color: hsl(224, 30%, 27%);
    font-size: 18px;
    font-weight: 500;
}

.summary button:hover {
    background: linear-gradient(0deg, rgb(46, 43, 233) 0%, hsl(252, 100%, 67%) 100%);
}


@media screen and (max-width: 600px) {
    body {
        width: 100%;
        height: 100%;
        display: block;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-family: 'Hanken Grotesk', sans-serif;
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .result {
        height: 400px;
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        border-radius: 0 0 20px 20px;
    }
}